<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>sessions</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>XXX</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>XXX</param-value>
	</context-param>
	<context-param>
		<param-name>dbURL</param-name>
		<param-value>jdbc:mysql://XXX:3306/XXX</param-value>
	</context-param>
</web-app>